.have-opened-h-modal {
  overflow: hidden;
}

.h-modal {
  z-index: 300;

  &-enter-active, &-leave-active {
    transition: opacity 120ms ease;
  }

  &-enter-from, &-leave-to {
    opacity: 0;
  }

  &__wrapper {
    position: fixed;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: #0000009e;
    display: flex;
    justify-content: center;
    align-items: center;

    .h-modal__window {
      max-height: 90%;
      display: flex;
      flex-direction: column;
      cursor: default;
      margin: 6px;

      .h-modal__content {
        overflow: hidden;
        max-height: 100%;
        display: flex;
        flex-direction: column;
      }

    }
  }

  &:not(&--persistent) {
    .h-modal__wrapper {
      cursor: pointer;
    }
  }

  @media (max-width: 599px) {
    .h-modal__window {
      width: 100%;
      height: 100%;
      max-height: 100%;
      margin: 0px;
    }
  }
}