
$text-main: #01001f;

$border-color: #c9c9c9;
$border-color--hover: #949494;
$border-color--active: #02006b;
$border-width: 1px;
$border-width--active: 1px;
$border-style: solid;
$border-radius: 6px;

$input-height: 60px;
$input-height--small: 45px;
$input-fieldset-top: 8px;
$input-transition: 180ms;
$input-bg-color: #ffffff;
$input-font-text-size: 16px;
$input-label-color: #878787;
$input-label-color--active: #02006b;
$input-label-text-size: 16px;
$input-label-text-size--active: 14px;
$input-legend-height: 16px;
$input-horizontal-padding: 12px;
$input-wrapper-horizontal-padding: 16px;
$input-height-message-height: 14px;

$hover-color: #f7f7f7;
$selected-color: #02006b2c;

$select-menu-vertical-padding: 0px;
$select-menu-item-height: 38px;
$select-menu-padding: $select-menu-vertical-padding 0px;
$select-menu-item-padding: 10px 12px;

$button-bg-color: #02006b7a;
$button-color: #ffffff;
$button-bg-color--hover: #02006b6b;

$card--bg-color: #ffffff;

$error-color: #e80061;

$box-shadow-color: rgba(34, 60, 80, 0.2);
$box-shadow-color--light: #f5f5f5;

$link-text-color: #63629c;
$link-text-color--hover: #000f94;
$link-text-color--active: #2d3dcc;