@import "dark-theme";
@import "light-theme";

* {
  margin: 0px;
  font-family: "Free monospace", monospace;
  box-sizing: border-box;
  color: unset;
}

[v-cloak] > * {
  display: none
}

[v-cloak]::before {
  content: "loading…"
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.mt-6 {
  margin-top: 24px;
}

.button {
  user-select: none;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  padding: 10px 16px;
  border-radius: 6px;
  vertical-align: center;
  letter-spacing: 1px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.text--fat {
  font-weight: bold;
}
